@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');


body {
  background: linear-gradient(aqua,lightgreen);
  background-repeat: no-repeat;
}

.whole-page {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  align-items: center;
}

.header { 
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}


.search-bar {
  display: flex;
  margin: 100px;
  flex-direction: row;
  justify-items: center;
}

.name-search-bar{
  margin: 10px;
}

.type-selection{
  margin: 10px;
}

.attack-selection{
  margin: 10px;
}

.poke-card { 
  padding: 1px;
  text-align: center;
  border: solid green;
  margin: 10px;
  border-radius: 25px;
}

img {
  width: 300px;
}

h2 {
  font-family: 'Press Start 2P', cursive;
}

p {
  font-family: 'Signika', sans-serif;
  font-size: 10px;
}

ul {
  list-style-type: none;

}

.background-green {
  background-color: green;
}

.background-blue {
  background-color: red;
}